UnityClient/PlanetServer/bin
UnityClient/PlanetServer/obj
UnityClient/PsTest/bin
UnityClient/PsTest/obj
Demos/Unity/Walkaround/client/Library
Demos/Unity/Walkaround/client/Build
Demos/Unity/Walkaround/client/Temp